.root {
  display: flex;
  align-items: center;
}

.previous-order-root {
  margin-bottom: 2.5rem;
}

.prev-order-container {
  margin-top: 1rem;
  .prev-orders {
    margin-top: 0.3rem;
    .MuiPaper-root.MuiCard-root.root.MuiPaper-elevation1.MuiPaper-rounded {
      border-radius: 10px;
      height: 6rem;
    }
    .MuiCardContent-root {
      display: flex;
      flex-direction: column;
      .order-item-details {
        display: flex;
        justify-content: center;
        margin-top: -1rem;
        margin-bottom: 1rem;
      }
      p {
        background-color: white;
      }
    }
    .content {
      flex: 1 0 auto;
    }
    .cover {
      width: 5rem;
      height: 5rem;
      margin-top: -1rem;
    }
  }
  .price-quantity-container {
    display: flex;
    justify-content: space-between;
  }

  .reorder-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 0.3rem;
    margin-bottom: 0.8rem;
    font-size: large;
    button {
      font-weight: bolder;
    }
  }
}

.prev-order-title {
  margin-top: 1.5rem;
  margin-left: 0.8rem;
  font-size: 1.5rem;
  text-align: left;
  margin-bottom: 0.3rem;
}

.home-button {
  position: fixed;
  bottom: 0rem;
  margin-left: 0.2rem;
  margin-bottom: 0.2rem;
}
