.store-info-container {
  display: flex;
  height: 23vh;
  p,
  h3 {
    background-color: transparent;
  }
  h3 {
    text-align: center;
    margin-top: 0.7rem;
    font-size: 2rem;
  }
  p {
    margin-top: 0.3rem;
    margin-left: 0.4rem;
    margin-right: 0.4rem;
  }
  .store-name-desc {
    position: sticky;
  }
}
